*{
  margin: 0;
  padding: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100..700;
    font-style: normal;
    width: 100%;
    overflow-x: hidden;
  }
  

 

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 70px;
  width: 100%;
  background-color:rgb(209, 59, 102);
  position: fixed;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
    top: 0;
    
}
 .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.logo h4 {
 color: aqua;
}
.logo h4 span{
  color: blue;
}

.navdiv ul{
  display: flex;
  justify-content: center;
  align-items: center;
 margin-left: 100px;
}

li{
  margin: 10px;
  list-style: none;
  width: 70px;
  padding: 2px 5px;
}

li a{
  display: flex;
   justify-content: center;
   align-items: center;
    text-decoration: none;
    padding: 2px;
    color: white;
    font-weight: 600;
  }
  
  li a:hover{
  background-color: blue;
  }


.backround {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}


.background .background-form{
  margin-top: 16%;
  margin-right: 40%;
  margin-left: 13%;
}
.background .background-form h1{
  font-size: 60px;
  color:rgb(209, 59, 102);
  font-family: system-ui,sans-serif;
}

.background-form form input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
 
}
 
.background-form form input[type="text"]{
  position: relative;

  box-sizing: border-box;
  width: 350px;
  height: 60px;
  border-color: rgb(209, 59, 102);
  border-radius: 11px 0 0 11px;
}

.background-form form input[type="submit"] { 
  position: relative;
  background-color:rgb(209, 59, 102);
  box-sizing: border-box;
  width: 220px;
  height: 60px;
  margin-left: -15px;
  border-color:rgb(186, 34, 118);
  border-radius:  11px 11px 11px 11px;
  cursor: pointer;
  color: white;
}
.man{
  display: flex;
  background-image: url(images/one-man.png);
  background-size: cover;
  height: 570px;
  width: 50%;
  margin-top: -25%;
  margin-left: 50%;
  animation: man 40s infinite ease-in-out;
}
  @keyframes man{
  0%{ background-image: url(images/man4.png);}
  30%{ background-image: url(images/image-of-man2.png);}
 49% {  background-image: url(images/one-man.png);}
 75% {  background-image: url(images/man6.png);}
 /* 80% {  background-image: url(images/image-of-man.jpg);} */
 100% {  background-image: url(images/man5.png);}
  }

.social-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.company {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 800px;
  height: 90px;
  border-radius: 15px;
  border: 0.5px solid black;
  -moz-box-shadow: 0px -2px 18px -3px rgba(0,0,0,0.78);
  -webkit-box-shadow: 0px -2px 18px -3px rgba(0,0,0,0.78);
  box-shadow: 0px -2px 18px -3px rgba(0,0,0,0.78);
}

.company a{
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.company a img {
  width: 50px;
  height: 50px;
}

/*-----------------------another session----------------------------*/
 
.parent {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
margin-top: 40px;
padding-top: 50px;
padding-bottom: 50px;
 transition: background-color 5s, transform 2s;
}
.parent:hover {
  border-radius: 25px;
  background-color: gold;
}
.second-parent{
  flex: 3;
 display: flex;
 flex-direction: row;
 background: transparent;
 margin-left: 30px;
}
.firstborn {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px 80px;
  font-family: system-ui, sans-serif;
}
.parent .firstborn h5, .parent .firstborn h2{
  margin: 10px;
}

.parent .firstborn .box1 {
  color: rgb(186, 34, 118);
  font-weight: 600;
  margin:4px;

}
.parent .firstborn .box1 h3 {
  
  display: flex;
  background-color:  rgb(186, 34, 118);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 170px;
  height: 50px;
}

.secondborn, .fourthborn, .thirdborn {
  display: flex;
  background-color: white;
  width: 200px;
  height: 220px;
  border-radius: 20px;
  margin: 20px;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  color: rgb(97, 91, 91);
  box-shadow:
  0px 0px 3.6px rgba(0, 0, 0, 0.024),
  0px 0px 10px rgba(0, 0, 0, 0.035),
  0px 0px 24.1px rgba(0, 0, 0, 0.046),
  0px 0px 80px rgba(0, 0, 0, 0.07);
  transition: width 2s, height 2s, background-color 2s, transform 2s;

}
.secondborn:hover, .fourthborn:hover {
  border-radius: 25px;
  color: white;
  background-color: rgb(71, 64, 64);
  border-style: groove;
 
}

.thirdborn {
  display: flex;
  color: white;
  background-color: rgb(186, 34, 118);
}
.thirdborn:hover {
  transform-box: stroke-box;
  border-radius: 25px;
  color: rgb(5, 14, 30);
  background-color: rgb(220, 48, 48);
  border-style: groove;
}

.footer-father{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:  rgb(186, 34, 118);
  height: 100px;
  width: 100%;
}
.footer-father h3{
color: white;
font-size: 30px;
font-family: system-ui,sans-serif;
margin: 0px 50px;
}
.footer-father h4{
  display: flex;
  width: 180px;
  height: 40px;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  color: rgb(186, 34, 118);
  align-items: center;
  border-radius: 3px;
  margin: 0px 50px;
}


.services {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin: 50px;
}
.want {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 100px;
  transition: width 3s, background-color 3s, transform 3s;
}
.want:hover {
  transform-box: stroke-box;
  width:100%;
  height: 100%;
  border-radius: 25px;
  background-color: rgb(199, 188, 199);
}

.card {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 600px;
  border-radius: 20px;
  line-height: 30px;
  margin: 40px;
  flex-direction: column;
  text-align: center;
  padding: 0px 39px;
  text-align: left;
  box-shadow:
  1.2px 1.6px 3.6px rgba(0, 0, 0, 0.018),
  3.3px 4.5px 10px rgba(0, 0, 0, 0.01),
  7.8px 10.9px 24.1px rgba(0, 0, 0, 0.042),
  26px 36px 80px rgba(0, 0, 0, 0.04)
}
.card h1{
  padding: 10px;
}
.card1{
  line-height: 20px;
  
}

.enviar {
  display: flex;
  justify-content: center;
  color: white;
  background-color: pink;
  border-radius: 10px;
  width: 200px;
  margin-top: 20px;
  margin-left: 30px;
}
 /* ----------box one-------- */

 .display{
 
  color: red;
  text-shadow: 2px 2px black;
 }
.animation {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;

}

 .animation-one{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: none;
  width: 80%;
  place-content: center;
  margin-left: 60px;
}
.animation-one .box-one {
  width:205px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.animation-one .box-one img {
  border-style: groove;
  border-color: grey;
  width: 200px;
  height: 180px;
  background-size: cover;
  border-radius: 10px;
  color: white;
  text-shadow: 2px 2px black;
  
}

.box-one h4{
  font-weight: 600;
  font-size: 16px;
  width: 190px;
}



.Presenting {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 15px;
  margin-left: 100px;
}

/*---------------------section two---------------------*/


.girl-section {
  background-color: rgba(237, 238, 238, 0.903);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.girl-parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.girl {
  display: flex;
  justify-content: center;
  width: 37%;
  height: 350px;
  background-color: pink;
  padding: 10px;
  margin-left: 50px;
  border-radius: 15px;
  box-shadow:
  1.2px 1.6px 3.6px rgba(0, 0, 0, 0.018),
  3.3px 4.5px 10px rgba(0, 0, 0, 0.01),
  7.8px 10.9px 24.1px rgba(0, 0, 0, 0.3),
  26px 36px 80px rgba(0, 0, 0, 0.1)
}

.girl img{
  width: 100%;
  height: 100%;
}

.pregunta-parent{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.pregunta-parent div{
 
  width: 100%;
  margin: 10px 20px;



}


/*-----------------section three------------------------*/

.section-three{
  width: 100%;
  height: 700px;
  background-color: purple;
}

.under{
 display: flex;
 width: 100%;
 height: 700px;
 color: white;
 justify-content: space-evenly;
 transition: background-color 6s;
}

.under:hover{
background-color: rgb(23, 112, 142);
border-style: groove;
}

.form-under-one{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 2px 2px  rgba(0, 0, 0, 1);
}
.form-under-one h1, .form-under-one h4{
  color: rgb(213, 230, 230);
  width: 80%;
  }
.form-under-one h1:hover, h4:hover{
color: rgb(213, 230, 230);
}

.form-under-two {
  margin-right: 10px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.stand, textarea{
  height: 40px;
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  border-color: rgb(209, 59, 102);
  border-radius: 10px;
  color: rgba(128, 128, 128, 0.74);
  font-size: 15px;
}

textarea {
  height: 100px;
}
textarea:hover {
  background-color: rgb(238, 238, 189);
}

.post{
  display: flex;
  background-color:  rgb(209, 59, 102);
  border-radius: 10px;
  height: 50px;
  width: 100%;
  color: white;
  justify-content: center;
  padding-top: 12px;
  font-size: 20px;
}
.post:hover{
border-style: groove;
background-color: rgb(134, 49, 168);
color: grey;
}

/*------------- last session----------------*/


.father {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 20px;
}
.father .logo-two{
  display: flex;
  align-items: center;
  justify-content: center;
}

.father .logo-two a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(163, 115, 161);
  border-radius: 5px;
  width: 120px;
  height: 50px;
  padding: 10px;
}
.father .last h4{
  text-align: start;
  width: 200px;
}

.logo-two a{
  font-weight: 300;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}


.foot-details{
  margin-top: 20px;
  line-height: 40px;

}
.foot-details h3 span{
  color: rgb(209, 59, 102);
}
.foot-details h3 a img{
  width: 30px;
  height: 30px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 43%;
  color: rgba(88, 84, 84, 0.839);
}

/*-----------------this is for 480creen-------------------*/

@media screen and (max-width:490px) {
  body {
    overflow-x: hidden;
    background-color: rgb(198, 224, 224);
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgb(56, 56, 95);
    z-index: 9999;
    top: 0;
    overflow: hidden;
    position: relative;
  }
  
  .navdiv {
   display: grid;
   place-content: center;
   grid-template-columns: auto auto;
    width: 100%;
  }

  .logo {
    display: flex;
    border-radius: 10px;
   margin: 5px;
  }
    
  .logo h4 {
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
   
  }

  .navbar .navdiv ul{
   display: flex;
   width: 90%;
   padding:0px 20px;
   margin-left: -20px;
  }
  .navbar .navdiv ul .li{
    width: 70px;
    height: 30px;
  
  }
  .navbar .navdiv ul li a{
    color: white;
   font-size: 12px;
   width: 50px;
   height: 30px;
   padding: 1px;
  }

.man{
  display: flex;
  background-image: url(image/one-man.png);
  background-size: cover;
  margin-right: 600px;
  margin-left: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: center;
  width: 40%; 
  flex-direction: column;
  height: 300px;
  z-index: 9999;

  animation: man 40s infinite ease-in-out;
}
.background{
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  grid-gap: 50px;
  margin-top: -20px;
  }
.background-form h1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin-left: 70px;
  margin-top: 30px;
  color:rgb(209, 59, 102);
  font-family: system-ui, sans-serif;
  z-index: 999;
  }
  .background-form form {
   display: flex;
   margin-left: 150px;
  
}



.background-form form input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
 
}
 
.background-form form input[type="text"]{
  position: relative;

  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border-color: rgb(209, 59, 102);
  border-radius: 11px 0 0 11px;
}

.background-form form input[type="submit"] { 
  position: relative;
  background-color:rgb(209, 59, 102);
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  margin-left: -65px;
  border-color:rgb(186, 34, 118);
  border-radius:  11px 11px 11px 11px;
  cursor: pointer;
  color: white;
}







  
  
  .background .background-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .background .background-form h1{
    font-size: 30px;
    color:rgb(209, 59, 102);
    font-family: system-ui,sans-serif;
  }
  
  .anim-box{
    display: none;
  }
  .father{
    display: grid;
    grid-template-columns: auto auto;
   place-content: center;
   grid-gap: 50px;
  }

  .company{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    flex-direction: row;
    width: 350px;
    margin-left: 20px;
  }

  .company a img{
    width: 50px;
    margin: 10px;
  }
  .parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .parent:hover {
    background-color: transparent;
  }
  .second-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     flex-direction: column;
  }
  .firstborn, .secondborn .thirdborn .fourthborn{
    width: 400px;
    height: 300px;
    font-family: sans-serif;
  }
  

  .display{
    color: red;
    text-shadow: 2px 2px black;
    margin-right: 60px;
   }
  .animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    margin-right: 80px;
    margin-left: -20px;
  
  }
  .animation-one{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    background-color: none;
    padding: 20px;
    place-content: center;
  }
  
  .animation .animation-one .box-one {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 400px;
    margin-left: -40px;
    margin-right: 70px;
    border-radius: 5px;
    color: white;
    text-shadow: 2px 2px black;
    
  }
  .animation .animation-one .box-one img{
    width: 90%;
    height: 300px;
    
  }
  
 
  .man form{
    display: none;
  
  }
  .footer-father h3{
    padding-left: 50px;
  }

.services {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 10px;
}
.want {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  transition: width 3s, background-color 3s, transform 3s;
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 600px;
  border-radius: 20px;
  line-height: 30px;
  flex-direction: column;
  text-align: center;
  box-shadow:
  1.2px 1.6px 3.6px rgba(0, 0, 0, 0.018),
  3.3px 4.5px 10px rgba(0, 0, 0, 0.01),
  7.8px 10.9px 24.1px rgba(0, 0, 0, 0.042),
  26px 36px 80px rgba(0, 0, 0, 0.04)
}

.card1{
  line-height: 20px;
}

.enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: pink;
  border-radius: 10px;
  width: 200px;
  margin-top: 20px;
  
}

.parent{
  display: grid;
  grid-template-columns: auto;
  place-content: center;
}

  
  .parent .firstborn{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
width: 300px;
height: 300px;
color: white;
padding: 20px;
border-color: blue;
border-radius: 10px;
background-color: rgb(37, 32, 32);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .parent .firstborn h5, .parent .firstborn h2{
    margin: 10px;
  }
  
  .parent .firstborn .box1 {
      
      color: bisque;
      font-weight: 300;
      margin-top: 2px;
      width: 80%;
      margin: 10px;
      height: 100px;
    }
    
    .parent .firstborn .box2 h3 {
      margin: 10px;
      display: flex;
      background-color:  rgb(186, 34, 118);
      justify-content: center;
      border-radius: 5px;
      width: 150px;
      height: 50px;
    }

    .parent .second-parent .secondborn,  .parent .second-parent .thirdborn,  .parent .second-parent .fourthborn{
      width: 60%;
      height: 200px;
      margin-right: 75px;
    }

    
 .girl-section {
  background-color: rgba(203, 222, 222, 0.903);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presenting h1{
  width: auto;
}

.girl-parent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.girl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  background: rgb(241, 162, 175);
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow:
  1.2px 1.6px 3.6px rgba(0, 0, 0, 0.018),
  3.3px 4.5px 10px rgba(0, 0, 0, 0.01),
  7.8px 10.9px 24.1px rgba(0, 0, 0, 0.3),
  26px 36px 80px rgba(0, 0, 0, 0.1)
  
}

.girl img{
  width: 300px;
  height: 250px;
  border-radius: 10px;
}

/* --------------another---------------- */

.pregunta-parent{
display: grid;
grid-template-columns: auto auto;
  width: 100%;
  margin-left: 40px;
}
.pregunta-parent div{
width: 80%;
}
.pregunta-parent div h4{
  display: flex;
  justify-content: center;
  text-align: left;
  
  z-index: 100;
}
.pregunta-parent div p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(74, 73, 73);
}

/* -----------section three-------- */

 .section-three{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
 }
.under{
  margin-top: -120px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  color: white;
  padding-top: 200px;
  flex-direction: column;
  background-color: purple;
  overflow: hidden;
 }
 
 .form-under-one{
   display: flex;
   width: 100%;
   justify-content: center;
   flex-direction: column;
   align-content: center;
   padding: 20px;
 }
 
 .form-under-one h1{
  font-size: 30px;
font-size: 20px;

 }
 .form-under-one h4{
  text-align: justify;
  width: 80%;

   }

 .form-under-two {
   width: 100%;
   display: flex;
   margin-right: 20%;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }
 .form-under-two  input{
  width: 80%;
 }
 .form-under-two textarea{
  width: 80%;
  margin-top: -100px;
  height: 80px;
 }
 .footer-father{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color:  rgb(186, 34, 118);
  margin-top: 20px;
}
.footer-father h3{
color: white;
font-size: 20px;
margin-bottom: 10px;
}
.footer-child{
  display: flex;
  width: 180px;
  height: 40px;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  border-radius: 3px;
}
.footer-child h3{
  align-items: center;
  color: rgb(186, 34, 118);
  margin-top: 19px;
}
 footer{
   display: flex;
   justify-content: center;
   color: rgba(88, 84, 84, 0.839);
 }
 
.stand{
  height: 50px;
  width: 200px;
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  border-color: rgb(209, 59, 102);
  border-radius: 10px;
  color: rgba(128, 128, 128, 0.74);
  font-size: 10px;
}


textarea {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200px;
  margin-left: 100px;
  margin-top: 350px;
  border-color: rgb(209, 59, 102);
  border-radius: 10px;
}

.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
}
.animation-one, .animation-two, .animation-three {
  display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
}
.animation-one:hover, .animation-two:hover, .animation-three:hover{
  display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;

}

.post{
  display: flex;
  background-color:  rgb(209, 59, 102);
  border-radius: 10px;
  height: 50px;
  width: 200px;
  color: white;
  justify-content: center;
  padding-top: 12px;
  font-size: 20px;
  margin-left: 100px;
}
}

/*-----------------this is for 1020creen-------------------*/

